body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    padding-top: 20px;
    background-color: #12acf4;
    height: 50px;
    margin-top: 25px;
}

.add-user-btn {
    display: block;
    padding: 6px;
    margin-left: 95.4%;
    display: inline-block;
    background-color: #4a26cb;
    color: white;
    cursor: pointer;
    font-size: 13px;
    width: auto;
}

.add-user-btn:hover {
    background-color: #684ad2;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 2px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

button.edit {
    background-color: #12f4a5;
}

button.delete {
    background-color: #dc3545;
}

button.edit:hover {
    background-color: #24c18f;
}

button.delete:hover {
    background-color: #c82333;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #ffffff;
    margin: 4% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    border-radius: 10px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#personForm{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0px;
}

label{
    margin-top: 20px;
}

input{
    height: 20px;
    margin-top: 5px;
}

#dob,#gender{
    height: 25px;
}

.submit{
    margin-top: 10px;
}

button {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #6d84a1;
}
